#OPENAI_API_KEY=
#OPENAI_ORGANIZATION=
#GEMINI_API_KEY=
#GEMINI_BASE_URL=
#SHARD_MANAGER_HOST=
#DISCORD_BOT_TOKEN=
#GITHUB_TOKEN=
#NOEMBED_KEYWORD=
#NOEMBED_URL_INCLUDE=
#NOEMBED_URL_EXCLUDE=
#HONEYCOMB_API_KEY=
#HONEYCOMB_DATASET=